repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: lintian-docker
        name: lintian (docker)
        entry: docker compose up --build --exit-code-from lint
        language: system
        pass_filenames: false
