name: Build DKMS Package

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
    - uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and cache Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        load: true
        tags: photonicat-pm-deb:trixie
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run Build and Test via Docker Compose
      run: |
        docker compose up --abort-on-container-exit --exit-code-from lint

    - name: Fix permissions for generated artifacts
      run: sudo chown -R $USER:$USER build/

    - name: Get deb filename
      id: get_filename
      run: echo "DEB_FILE=$(basename build/photonicat-pm-dkms_*.deb)" >> $GITHUB_OUTPUT

    - name: Upload artifact
      uses: actions/upload-artifact@v7
      with:
        name: ${{ steps.get_filename.outputs.DEB_FILE }}
        path: build/${{ steps.get_filename.outputs.DEB_FILE }}

    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        files: build/photonicat-pm-dkms_*.deb
